.burgerConstructor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  width: calc(50% - var(--offset-base-size) * 5);
}

.burgerConstructorWrap {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  min-height: 80px; /* 1 item (80px) */
  max-height: 464px; /* 5 items (80px) + 4 gaps (16px) */
  overflow-y: auto;

  scroll-snap-type: y mandatory;
}

.burgerConstructorTotal {
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 10);
  justify-content: flex-end;
}

.burgerConstructorDndHover {
  background-image:
    linear-gradient(90deg, #4c4cff 50%, transparent 50%),
    linear-gradient(90deg, #4c4cff 50%, transparent 50%),
    linear-gradient(0, #4c4cff 50%, transparent 50%),
    linear-gradient(0, #4c4cff 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 50px 10px, 50px 10px, 10px 50px, 10px 50px;
  animation: moving-border 400ms infinite linear;
}

@keyframes moving-border {
  0% {
    background-position: 0 0, 50px 100%, 0 50px, 100% 0;
  }
  100% {
    background-position: 50px 0, 0 100%, 0 0, 100% 50px;
  }
}
