.header {
  background: var(--background);
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

.navWrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
}

.navBlock {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
}

.navItem:last-child {
  margin: 0 0 0 auto;
}

.navLink {
  border-radius: 40px;
  display: flex;
}

.logo {
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
